<h1> Edit a Territory card </h1>
<form action="/territories/<%=@territory.id%>" method="post"
    <label>Change the Territory Number: </label>
    <input type="text" name="number" id="territory_number"
    <br></br>
    <br></br>
    <label>Change the Territories Designation: </label><br>
    <input type="checkbox" name="designation" value="residential"> Residential
    <input type="checkbox" name="designation" value="business"> Business
    <input type="checkbox" name="designation" value="writing"> Writing <br>
    <br></br>
    <br></br>
  <input type="submit" value="Submit">
</form>
<br>
<p><a href="/users/show_user">Back</a> to your userpage</p>
<p><a href="/">Back</a> to the homepage</p>
