<h2> <%= @user.first_name %>, create a new Territory card </h2><br>
<form action="/territories/new" method="POST"
    <label>Territory Number: </label>
    <input type="text" name="number" id="territory_number"</input>
    <br></br>
    <br></br>
    <label>Territory Designation: </label><br>
    <input type="checkbox" name="designation" value="residential"> Residential</input>
    <input type="checkbox" name="designation" value="business"> Business</input>
    <input type="checkbox" name="designation" value="writing"> Writing </input><br>
    <br></br>
  <input type="submit" value="Create">
</form>
<br>
<p><a href="/users/show_user">Go</a> to your userpage</p>
<p><a href="/">Go</a> to the homepage</p>
