<h1> Territories </h1>
<p> Please check out a territory from the list of available territories below:</p>
<ul>
  <%@territories.each do |t|%>
    <li><a href='/territories/<%=t.id%>'><%=t.number%>: <%=t.designation.capitalize%></a></li>
  <%end%>
</ul>
<br>
<p><a href="/users/show_user">Go</a> to your userpage</p>
<p><a href="/">Go</a> to the homepage</p>
