<h1>Territories</h1>
<<<<<<< HEAD
<ul>
  <li><a href="/territories/new">Make a New Territory</a></li>
  <li><a href="/territories/edit">Edit a Territory</a></li>
  <li><a href="/territories/territories">See All available Territories</a></li>
  <li><a href="/territories/sign_in_or_out">Sign out or return a Territory</a></li>
  <li><a href="/signup">Create an new account</a></li>
  <li><a href="/login">Log In as a different user</a></li>
  <li><a href="/profile">Edit your profile</a></li>
  <li><a href="/show_user">See All your territories</a></li>
</ul>
=======
>>>>>>> 9e3ec069e1c833c2852594667e276101a4d40b99
