<h1>Territories</h1>
<ul>
  <li><a href="/territories/new">Make a New Territory</a></li>
  <li><a href="/territories/edit">Edit a Territory</a></li>
  <li><a href="/territories/territories">See All available Territories</a></li>
  <li><a href="/territories/sign_in_or_out">Sign out or return a Territory</a></li>
  <li><a href="/signup"></a>Create an new account</li>
  <li><a href="/login"></a>Log In as a different user</li>
  <li><a href="/profile"></a>Edit your profile</li>
  <li><a href="/show_user"></a>See All your territories</li>
</ul>
