<h1>Territories</h1>
<ul>
  <li><a href="/signup">Create an new account</a></li>
  <li><a href="/users/show_user">See your user account</a></li>
  <li><a href="/login">Log In</a></li>
  <li><a href="/logout">Logout</a></li>

</ul>
